.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 60px;

    & > div:nth-child(1) > h1 {
        font-size: 2.3rem;
        font-weight: 600;
        color: #f8f8f2;
    }

    & > div:nth-child(2) {
        padding-top: 6px;
    }

    .return {
        width: 130px;
        height: 55px;
        background-color: #3C4262;
        color: #f8f8f2;
        font-size: 1.6rem;
        font-weight: 600;
        border: none;
        border-radius: 6px;
        box-shadow: 0 4px 0 1px darken($color: #333853, $amount: 5);
        cursor: pointer;

        &:hover {
            background-color: lighten($color: #333853, $amount: 10);
        }
    }
}